/* Cover */
img#cover {
  padding-top: -64px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
}
section#kitchen {
  margin-top: -65px;
  height: 100vh;
}
section#kitchen p{
  color:white;
  font-size: 40px;
  font-weight: lighter;
}

section#kitchen p.whats{
  font-size: 20px;
  margin: 0 auto;
}
section#kitchen a{
  color:white;
  background-color: transparent;
  border: 1px solid white;
  height:60px;
  padding-top:12px;
}
section#kitchen .w3-display-left{
  margin-left: 150px;
  width:50%;
}
section#kitchen .w3-display-topright{
  margin-top:130px;
}
section#kitchen i{
		padding: 15px;
		font-size: 30px;
		width: 60px;
		height: 60px;
		text-align: center;
		text-decoration: none;
		margin: 5px 5px;
		border-radius: 50%;
		background-color: white;
		color: rgba(207, 14, 85, 0.9);
 }
/* Styles */
section#styles{
  background-color:white;
  color: white;
  text-align: center;
}

section#styles h1{
  font-weight: 900;
}

section#styles p{
  font-size: 13px;
  font-weight: 100;
}
/* Testimonials */
section#testimonials{
  background-color:white;
  color: white;
  text-align: center;
}

section#testimonials h4{
  color:#ff5252;
}

section#testimonials p{
  margin-top: 0;
}

.icon{
  margin: 0 auto;
  max-width: 40px;
  width: 100%;
}
/* Dream */
section#dream{
  background-color: white;
  padding: 20px;
  text-align: center;
}
section#dream h4{
  color:rgb(207, 14, 85);;
}

section#dream p{
  font-size: 13px;
  font-weight: 100;
  max-width: 400px;
  margin: auto;
}

section#dream .btn{
  margin-top: 15px;
  margin-bottom: 10px;
  background: white;
  color:rgb(207, 14, 85);
  border:2px solid rgb(207, 14, 85);
}

section#dream .btn:hover, section#dream .btn:active, section#dream .btn:focus {
  background-color:rgb(207, 14, 85);
  color: white;
}

/* Contact */
section#contact{
  padding-top: 22px;
  padding-bottom: 11px;
  background-color: lightgray;
}
section#contact h4{
  color:darkgray;
  text-align: center;
}

section#contact h6{
  color:rgb(207, 14, 85);
  text-align: left;
}

section#contact p{
  font-size: 12px;
  font-weight: 100;
  margin-top: -10px;
}

section#contact i{
}

section#contact input, section#contact textarea{
  background-color: white;
  padding-left: 5px;
  border-bottom: 0;
  margin-top: -15px;
}
section#contact button{
  background-color: transparent;
  color: rgb(207, 14, 85);
  border: 2px solid rgb(207, 14, 85);
  margin-top: -20px;
}

button{
  width: 100%;
}

.fullwidth{
  width: 100%;
}

#modal1{
  width: 75%;
  color: white;
}

#modal1 input, #modal1 textarea{
  background-color: white;
  color: black;
  padding-left: 10px;
  border-bottom: 0;
  margin-top: -10px;
  margin-bottom: 0px;
}
#modal1 button{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin-top: -20px;
}
#modal1 p{
  font-weight: 100;
}
#modal1 h3{
  font-weight: 900;
  font-family: Lato;
}

/* Responsive*/
@media only screen and (max-width: 650px) {
  section#kitchen {
    height: 50vh;
    margin-top: -156px;
  }
  img#cover {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    height: 50vh;
  }
  section#kitchen .fullwidth{
  }
  section#kitchen .w3-display-left{
    margin-left: 20px;
    width:50%;
  }
  section#kitchen .w3-display-topright{
    margin-top:90px;
    width: 50%;
  }
  section#kitchen p{
    font-size: 10px;
    font-weight: lighter;
  }
  section#kitchen p.whats{
    font-size: 10px;
    margin: 0 auto;
  }
  section#kitchen a{
    padding-top: 0px;
    font-size: 10px;
    height: 20px;
    display: inline-table;
  }
  section#kitchen i{
  		padding: 5px;
  		font-size: 10px;
  		width: 20px;
  		height: 20px;
  		margin: 5px 5px;
   }
  section#styles h1{
    font-weight: 900;
    font-size: 17px;
  }
  section#styles p{
    font-size: 10px;
    font-weight: 100;
  }
  section#styles a{
    padding-top: 0px;
    font-size: 10px;
    height: 20px;
    display: inline-table;
  }
}
